body{

margin:0;
font-family:Arial;
background:#f0fff8;

}


.hero{

text-align:center;
padding:60px;

}


.hero h1{

font-size:42px;
color:#008f6c;

}


.hero p{

font-size:20px;

}



.cards{

display:flex;
justify-content:center;
gap:35px;
margin-top:50px;

}



.card{

width:260px;
height:220px;

background:white;

border-radius:25px;

box-shadow:0 10px 30px #ccc;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-decoration:none;

color:#006b52;

transition:.3s;


}


.card:hover{

transform:translateY(-10px);

background:#eafff6;


}



.card h2{

color:#006b52;

}