.doctor-page{


min-height:90vh;

background:#f0fff8;

padding:40px;

text-align:center;


}



.doctor-page h1{


color:#00a878;

font-size:40px;


}



.subtitle{


color:#555;

font-size:18px;


}



.chat-box{


width:70%;

height:400px;

margin:30px auto;

background:white;

border-radius:20px;

padding:20px;

overflow-y:auto;

box-shadow:0 10px 30px rgba(0,0,0,.1);


}




.user-msg{


background:#00a878;

color:white;

padding:12px;

border-radius:15px;

margin:10px;

text-align:right;


}



.ai-msg{


background:#e8fff5;

color:#333;

padding:12px;

border-radius:15px;

margin:10px;

text-align:left;


}




.chat-input{


display:flex;

justify-content:center;

gap:10px;


}



.chat-input input{


width:50%;

padding:15px;

border-radius:25px;

border:1px solid #ccc;


}



.chat-input button{


background:#00a878;

color:white;

border:none;

padding:15px 30px;

border-radius:25px;

cursor:pointer;


}