.doctor-container{


height:90vh;

background:#effff8;

display:flex;

flex-direction:column;

max-width:900px;

margin:auto;

border-radius:30px;

overflow:hidden;

box-shadow:0 15px 40px rgba(0,0,0,.15);


}





.doctor-header{


background:white;

padding:20px;

display:flex;

align-items:center;

gap:20px;


border-bottom:1px solid #ddd;


}



.avatar{


font-size:45px;

background:#dffff1;

padding:15px;

border-radius:50%;


}



.doctor-header h2{


color:#008f68;

margin:0;


}




.doctor-header p{


margin:5px 0;

color:#777;


}





.chat-box{


flex:1;

padding:25px;

overflow-y:auto;


}





.user-msg{


background:#00a878;

color:white;

padding:15px 20px;

border-radius:20px 20px 0 20px;

max-width:65%;

margin-left:auto;

margin-bottom:15px;


}




.ai-msg{


background:white;

padding:15px 20px;

border-radius:20px 20px 20px 0;

max-width:65%;

margin-bottom:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);


}





.typing{


color:#008f68;

font-style:italic;

margin:10px;


}




.input-area{


display:flex;

padding:20px;

background:white;


}




.input-area input{


flex:1;

padding:15px;

border-radius:25px;

border:1px solid #ccc;

font-size:16px;


}





.input-area button{


margin-left:10px;

padding:15px 30px;

border:none;

border-radius:25px;

background:#00a878;

color:white;

cursor:pointer;


}