.home{

background:#f0fff8;

min-height:100vh;

font-family:Arial;

}



nav{


display:flex;

justify-content:space-between;

padding:25px 8%;

background:white;


}



nav h2{


color:#008f68;


}



nav a{


margin:15px;

text-decoration:none;

color:#333;

}





.hero{


display:flex;

justify-content:space-around;

align-items:center;

padding:80px 8%;


}




.hero-text{


max-width:600px;


}


.hero h1{


font-size:55px;

color:#123;


}



.hero span{


color:#00a878;


}



.hero p{


font-size:20px;

color:#666;


}





button{


padding:15px 35px;

border-radius:30px;

border:none;

background:#00a878;

color:white;

font-size:16px;

margin:10px;

cursor:pointer;


}



.outline{


background:white;

color:#00a878;

border:2px solid #00a878;


}






.ai-card{


background:white;

padding:40px;

border-radius:35px;

text-align:center;

box-shadow:0 20px 50px #0002;


}





.doctor-avatar{


font-size:80px;

}



.pulse{


height:20px;

width:20px;

background:#00a878;

border-radius:50%;

margin:auto;


animation:pulse 1s infinite;


}



@keyframes pulse{


50%{

transform:scale(2);

opacity:.3;

}


}





.features{


padding:50px 8%;

text-align:center;


}




.cards{


display:flex;

gap:30px;

justify-content:center;


}





.cards div{


background:white;

padding:30px;

border-radius:25px;

width:250px;


box-shadow:0 10px 30px #0001;


}






.chat-float{


position:fixed;

right:30px;

bottom:30px;

background:#00a878;

color:white;

font-size:35px;

padding:20px;

border-radius:50%;


}







@media(max-width:700px){


.hero{

flex-direction:column;

text-align:center;


}



.hero h1{

font-size:35px;

}


.cards{

flex-direction:column;

align-items:center;

}



nav{

flex-direction:column;

}



}