.box{


width:500px;

margin:50px auto;

padding:40px;

background:white;

border-radius:25px;

box-shadow:0 10px 30px #ccc;


text-align:center;


}



input{


display:block;

width:90%;

padding:12px;

margin:10px;


border-radius:10px;

border:1px solid #ccc;


}



button{


background:#009879;

color:white;

border:none;

padding:15px 40px;

border-radius:20px;

cursor:pointer;


}