*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Inter,Arial;

}



body{

background:

linear-gradient(
120deg,
#e9f7ff,
#ffffff
);

}



.container{

padding:40px 80px;

}



nav{


display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:white;


}




.logo{


display:flex;

align-items:center;

gap:10px;

font-size:28px;

font-weight:700;

color:#008b70;


}




.links{


display:flex;

gap:35px;

}



.links a{


text-decoration:none;

color:#083344;

font-size:18px;


}



.hero{


display:flex;

justify-content:space-between;

align-items:center;

min-height:500px;


}




.hero h1{


font-size:60px;

color:#083344;


}



.hero p{


font-size:22px;

margin-top:20px;


}



button{


margin-top:30px;

background:#008b70;

color:white;

border:none;

padding:15px 30px;

border-radius:30px;

font-size:18px;


}




.ai-card{


background:white;

height:300px;

width:350px;

border-radius:30px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


box-shadow:

0 20px 50px #0002;


}



.ai-card svg{

color:#008b70;

}



.features{


display:flex;

gap:30px;


}



.card{


background:white;

padding:30px;

border-radius:25px;

width:300px;


box-shadow:

0 10px 30px #0002;


}


.card svg{


color:#008b70;

}