*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}


body{

background:#f4fff9;

color:#073b2a;

}


button{

background:#009879;

color:white;

border:none;

padding:12px 25px;

border-radius:30px;

cursor:pointer;

font-size:16px;

transition:.3s;

}


button:hover{

background:#007f66;

transform:translateY(-2px);

}



.card{

background:white;

border-radius:20px;

padding:30px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}



.page{

min-height:100vh;

padding:40px;

}
nav{

height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 50px;

box-shadow:0 5px 20px #ddd;

}



nav h2{

color:#009879;

}



nav a{

margin:20px;

text-decoration:none;

color:#073b2a;

font-weight:600;

}
.grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:40px;

}


.grid a{

text-decoration:none;

color:inherit;

}



.grid .card{

text-align:center;

height:220px;

display:flex;

flex-direction:column;

justify-content:center;

gap:15px;

}

